@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

// Import a Google font
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

$navy: #2F2FA2;

//Global Styles:
body {
    font-family: 'Rubik', ;
}

// h1, h2, h3, label, p, button {
//     color: #4a4a4a;
// }

.has-bg-img { background: url('../src/images/background-form.jpg')center center; background-size:cover; }

.has-bg-img-main { background: linear-gradient(183deg, #e6e6e6, transparent 60%), url('../src/images/background-home.jpg')center center; background-size:cover; }

.button {
    background-color: $navy;
    color: white;
}

.button:hover, :focus {
    background-color: white;
    color: $navy;
    outline: 0;
    border: 1px solid $navy;
}

.button:active {
    background-color: $navy;
    color: white;
    border: 1px solid $navy;
}

.input:focus {
    color: $navy;
    outline: 0;
    border: 1px solid $navy;
}

.input:active {
    outline: 0;
    border: 1px solid $navy;
}

.select:not(.is-multiple):not(.is-loading)::after {
    border-color: $navy;
}

hr {
    border: solid 1px $navy;
}

a {
    color: $navy;
}

th {
    padding: 5px;
    background: transparent;
}

.section {
    padding-top: 75px;
    padding-bottom: 75px;
}



//Home Page Styles:
.navbar-item img {
    max-height: none;
}

.link {
  background:
     linear-gradient(
       to bottom, $navy 0%,
       $navy 100%
     );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 2px 0px;
  text-decoration: none;
  color: #4a4a4a;
  transition: background-size .8s;
  border-radius: 2px;
}

.link:hover {
  background-size: 2px 50px;
  color: white;
}

.custom-h2 {
    color: #b3b3b3;
    font-size: 150%;
    text-shadow: 0.02em 0 black, 0 0.02em black, -0.05em 0 black, 0 -0.05em black, -0.05em -0.05em black, -0.05em 0.05em black, 0.05em -0.05em black, 0.05em 0.05em black;
}

.navbar-burger span {
    width: 25px;
    height: 5px;
}

.navbar-burger span:nth-child(1) {
    top: calc(50% - 12px);
}

.navbar-burger span:nth-child(2) {
    top: calc(50% - 5px);
}

// .navbar-burger span:nth-child(3) {
//     top: calc(50% + 2px);
// }

.special-container {
    position: relative;
    width: 100%;
}

.special-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #4a4a4a;
    border-radius: 290486px;
    color: white;
}

.special-container:hover .special-overlay {
  opacity: 1;
}

.special-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

h2.special-solution-text { 
    position: absolute; 
    top: 45%; 
    left: 0; 
    width: 100%;
    text-align: center; 
}

.separator { 
  border-left: 6px solid $navy;
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
} 

.image-stack {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    position: relative;
}

.image-stack__item--top {
    grid-column: 2 / span 13;
    grid-row: 1; // must be on the same row as the other image
    padding-top: 60%; // this pushes the image down, and keeps it proportional as it resizes
    z-index: 1; // make this image render on top of the bottom
}

.image-stack__item--bottom {
    grid-column: 9 / -1;
    grid-row: 1; // make this image be on the same row
}

.venue-img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 320px) {
    .p-text {
        font-size: 49%;
    }
}

@media only screen and (min-width: 321px) and (max-width: 415px) {
    .p-text {
        font-size: 59.9%;
    }
}

@media only screen and (min-width: 416px) and (max-width: 767px) {
    .figure-style {
        width: 80% !important;
    }

    .special-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 80%;
        opacity: 0;
        transition: .5s ease;
        background-color: #4a4a4a;
        border-radius: 290486px;
        color: white;
        margin: auto;
    }

    .p-text {
        font-size: 70%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 768px) {
    .figure-style {
        width: 60% !important;
    }

    .special-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 60%;
        opacity: 0;
        transition: .5s ease;
        background-color: #4a4a4a;
        border-radius: 290486px;
        color: white;
        margin: auto;
    }

    .p-text {
        font-size: 79%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1021px) {
    .p-text {
        font-size: 65%;
    }
}

//Form Styles:
.image img {
    width: 200px;
}

.logo-img {
    top: 10px;
    left: 10px;
    width: 200px;
    height: 200px;
}

.notification {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #d9d9d9;
}

.modal-card {
    border-radius: 2px;
}

.react-add-to-calendar__button {
    color: $navy;
}

.small-container {
    box-shadow: none;
    border: solid 1px #e2e3e3;
}

.table {
    border-collapse: separate;
    background-color: transparent;
}
  
.form-radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    background-color: #939393;
    outline-color: $navy;
    color: white;
    top: 7px;
    height: 20px;
    width: 20px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 7px;
}

.form-radio:checked::before {
  position: absolute;
  font: 13px/1 'Open Sans', sans-serif;
  left: 6px;
  top: 3px;
  content: '\02143';
  transform: rotate(40deg);
}

.form-radio:hover {
  background-color: #f7f7f7;
}

.form-radio:checked {
  background-color: $navy;
}
