@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

// Import a Google font
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

@import "react-alice-carousel/lib/scss/alice-carousel.scss";

$navy: #2F2FA2;
$light-navy: #b0b0e8;
$dark-gray: #4a4a4a;

//Global Styles:
body {
    font-family: 'Rubik', ;
}

// h1, h2, h3, label, p, button {
//     color: #4a4a4a;
// }

.has-bg-img { background: url('../src/images/background-form.jpg')center center; background-size:cover; }

.has-bg-img-main { background: linear-gradient(183deg, #e6e6e6, transparent 60%), url('../src/images/background-home.jpg')center center; background-size:cover;  background-repeat: no-repeat;}

.button {
    background-color: $navy;
    color: white;
}

.button:hover, :focus {
    background-color: white;
    color: $navy;
    outline: 0;
    border: 1px solid $navy;
}

.button:active {
    background-color: $navy;
    color: white;
    border: 1px solid $navy;
}

.input:focus {
    color: $navy;
    outline: 0;
    border: 1px solid $navy;
}

.input:active {
    outline: 0;
    border: 1px solid $navy;
}

.select:not(.is-multiple):not(.is-loading)::after {
    border-color: $navy;
}

hr {
    border: solid 1px $navy;
}

a {
    color: $navy;
}

th {
    padding: 5px;
    background: transparent;
}

.section {
    padding-top: 75px;
    padding-bottom: 75px;
}

//NavBar Styles:
.navbar-item img {
    max-height: none;
}

.link {
  background:
     linear-gradient(
       to bottom, $navy 0%,
       $navy 100%
     );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 2px 0px;
  text-decoration: none;
  color: $dark-gray;
  transition: background-size .8s;
  border-radius: 2px;
}

.link:hover {
  background-size: 2px 50px;
  color: white;
}

.custom-h2 {
    background-color: white;
    display: inline;
    color: black;
    font-size: 150%
}

.navbar-burger span {
    width: 25px;
    height: 5px;
}

.navbar-burger span:nth-child(1) {
    top: calc(50% - 12px);
}

.navbar-burger span:nth-child(2) {
    top: calc(50% - 5px);
}

//MainLanding Styles:


//MainChallenge Styles:
.challenge-container {
    position: relative;
    text-align: center;
    color: white;
}

.challenge-image-div {
  display: inline-block;
  background: linear-gradient(to left, transparent, white 95%)
}

.challenge-image {
    position: relative;
    z-index: -1;
}

.challenge-text {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: black;
    transform: translate(-65%, -50%);
    display: inline;
    color: white;
    font-size: 120%;
    // padding: 0 5px;
}

.challenge-text-two {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: black;
    transform: translate(-65%, -50%);
    display: inline;
    color: white;
    font-size: 120%;
    // padding: 0 5px;
}

.react-multiple-carousel__arrow {
    z-index: 1;
}

.react-multi-carousel-dot-list {
    bottom: 2%;
}

//MainMeeting Styles:
.separator { 
    border-left: 6px solid $navy;
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
} 

.venue-img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

//MainVenue Styles:


//Footer Styles:

//Form Styles:
.image img {
    width: 200px;
}

.logo-img {
    top: 10px;
    left: 10px;
    width: 200px;
    height: 200px;
}

.notification {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #d9d9d9;
}

.modal-card {
    border-radius: 2px;
}

.react-add-to-calendar__button {
    color: $navy;
}

.small-container {
    box-shadow: none;
    border: solid 1px #e2e3e3;
}

.table {
    border-collapse: separate;
    background-color: transparent;
}
  
.form-radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    background-color: #939393;
    outline-color: $navy;
    color: white;
    top: 7px;
    height: 20px;
    width: 20px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 7px;
}

.form-radio:checked::before {
  position: absolute;
  font: 13px/1 'Open Sans', sans-serif;
  left: 6px;
  top: 3px;
  content: '\02143';
  transform: rotate(40deg);
}

.form-radio:hover {
  background-color: #f7f7f7;
}

.form-radio:checked {
  background-color: $navy;
}

//Media Queries
@media only screen and (max-width: 320px) {
    .p-text {
        font-size: 49%;
    }

    .challenge-text {
        position: absolute;
        top: 47%;
        left: 50%;
        background-color: black;
        transform: translate(-75%, -50%);
        display: inline;
        color: white;
        font-size: 70%;
    }

    .challenge-text-two {
        position: absolute;
        top: 43%;
        left: 50%;
        background-color: black;
        transform: translate(-85%, -50%);
        display: inline;
        color: white;
        font-size: 70%;
        // padding: 0 5px;
    }
}

@media only screen and (min-width: 321px) and (max-width: 415px) {
    .p-text {
        font-size: 59.9%;
    }

    .challenge-text {
        position: absolute;
        top: 49%;
        left: 50%;
        background-color: black;
        transform: translate(-75%, -50%);
        display: inline;
        color: white;
        font-size: 95%;
    }

    .challenge-text-two {
        position: absolute;
        top: 42%;
        left: 50%;
        background-color: black;
        transform: translate(-85%, -50%);
        display: inline;
        color: white;
        font-size: 83%;
        // padding: 0 5px;
    }
}

@media only screen and (min-width: 416px) and (max-width: 767px) {
    .figure-style {
        width: 80% !important;
    }

    .p-text {
        font-size: 70%;
    }

    .challenge-text {
        position: absolute;
        top: 49%;
        left: 50%;
        background-color: black;
        transform: translate(-75%, -50%);
        display: inline;
        color: white;
        font-size: 100%;
    }

    .challenge-text-two {
        position: absolute;
        top: 43%;
        left: 50%;
        background-color: black;
        transform: translate(-85%, -50%);
        display: inline;
        color: white;
        font-size: 100%;
        // padding: 0 5px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 768px) {
    .figure-style {
        width: 60% !important;
    }

    .p-text {
        font-size: 79%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1021px) {
    .p-text {
        font-size: 65%;
    }
}

@media only screen and (max-width: 1024px) {
    .has-bg-img-main { background: linear-gradient(183deg, #e6e6e6, transparent 80%), url('../src/images/background-mobile.jpg')center center; background-size:cover; background-repeat: no-repeat; height: 300px}
    
    .custom-h2 {
        background-color: black;
        display: inline;
        color: white;
        font-size: 150%
    }

}